.container {
  display: flex;
  border: solid 1px black;
  margin: 10px 0;
}

.container img {
  margin: 5px;
}

.container ul {
  margin: 0;
  padding: 5px 0;
}

.container li {
  list-style: none;
}
